 <section id="seccion_productos">
            <div id="informacion_prod">
              <p id="titulo">Conoce</p>
              <h1>Nuestros Productos</h1>
              <p> El catálogo de nuestro producto es amplio y muy exótico <br> pero aquí están algunos ejemplos:</p>
              <button>Inventario</button>
            </div>
            <div id="prod"><img class="imagendos" src="https://okdiario.com/img/2019/10/16/pan-con-masa-madre-natural.jpg" height="150px" width="200px"><br> <br><strong> {{getnombre nombre}}</strong> <br> <br>{{precio}} ctv </div>
            <div id="prod"><img class="imagentres" src="https://escueladecocinatelva.com/wp-content/uploads/2014/11/Clase-de-panes-C%C3%B3mo-hacer-pan-Clases-de-cocina-Escuela-de-Cocina-TELVA.jpg" height="150px" width="200px"><br> <br><strong>{{getnombre nombre2}}</strong><br><br>{{precio2}} ctv</div>
            <div id="prod"><img class="imagencuatro" src="https://i.blogs.es/32b477/pan-20italia/450_1000.jpg" height="150px" width="200px"><br> <br><strong>{{getnombre nombre3}}</strong><br> <br>{{precio3}} ctv</div>

        </section>